/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.top30 {
    margin-top: 30px;
}

#google-maps, #awesome-tent {
    width: 100%;
    border: none;
    height: 400px;
}

#awesome-tent {
    height: 500px;
}

.navbar.navbar-default .navbar-toggle {
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    padding: 6px 10px;
    font-weight: bold;
}

.banner {
    background: #2980b9;
    color: #fff;
    padding: 20px 0 15px;
    border-bottom: 10px solid #194f71;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
}

.jumbotron-image {
    background: url("../img/signal-2021-05-20-103217_005.jpeg") no-repeat;
    text-align: center;
}

.jumbotron-image {
    position: relative;
}

.jumbotron .container {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 71%);
    padding-bottom: 20px;
}

.jumbotron-image {
    padding-bottom: 400px;
    background-size: cover;
    background-position: center center;
}

.jumbotron-image {
    position: relative;
}

h2, .h2 {
    font-weight: bold;
}

body {
    font-size: 18px;
}

.btn {
    font-weight: bold;
}


.jumbotron-image h1,
.jumbotron-image p {
    color: #fff;
}

.jumbotron-image h1 {
    font-size: 80px;
    font-weight: bold;
}

.jumbotron-image p {
    font-size: 29px;
    font-weight: 400;
}

.navbar-default .navbar-brand {
    font-weight: bold;
}


.navbar-default .navbar-nav > li > a {
    font-weight: 500;
}

.navbar {
    font-size: 18px;
    padding: 10px 0;
}



/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .jumbotron-image {
        height: 45vw;
        background-size: cover;
        max-height: 50vh;
    }
}








